{% include 'block.html' %} {% block subcontent %}
<style>
    article {
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid #ccc;
    }
    
    .social a {
        padding: 0 .5em;
    }
    
    .page-header {
        margin-bottom: 2rem;
    }
    
    .text {
        margin-left: 150px
    }
    
    @media screen and (max-width: 728px) {
        .row {
            margin: auto;
        }
    }
</style>

<body>

    <div class="container">
        <center>
            <div class="page-header">
                <h1>Blogs <small>/लेख</small></h1>
            </div>
        </center>
        <div class="row text">
            {% for blog in blogs %}
            <div class="col-md-8">
                <article id="">
                    <header>
                        <h2>
                            <a href="/blogs/{{blog[0]}}/">
            {{blog[-1]}}</a></h2>
                    </header>
                    <div class="entry-content">

                        <p class="lead">{{blog[1]}}</p>
                        <a href="/blogs/{{blog[0]}}/" class="btn btn-primary">Read More</a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}