{% extends 'block.html' %}
<style type="text/css">
    .header-text {
        background-color: #8af777;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
    }
    
    h1 {
        font-size: 60px;
    }
    
    .offer img {
        height: 300px;
        width: 300px;
        transition: transform 0.3s;
        padding: 15px;
    }
    
    .header .col-3 {
        border: 3px solid;
    }
    
    .offer img:hover {
        transform: scale(1.1);
    }
    
    .offer p {
        text-align: justify;
        margin: 20px;
        font-size: 20px;
    }
    
    .syllabus {
        margin-top: 20px!important;
        border-radius: 10px;
        color: black;
    }
    
    .card {
        background-color: #1c1c1c;
        color: white;
        border-radius: 10px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    

</style>
{% block subcontent %}
<div class="text-center w-75 m-auto">
    <div class="header">
        <div class="header-text">
            <u><h1>Why <b>Us</b></h1></u>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="header-img col-lg-6">
        <img class="w-100" src="/static/farming12.jpg">
    </div>
    <div class="col-6">
        <h2 style="text-align: justify;margin-right: 20px">Here, we are providing a platform which will let rural people to get their queries solved directly from domain professionals, track the number of queries solved under a ruling party, can read articles written by members & further different things.</h2>
        <h3 style="text-align: justify;margin-right: 20px;">यहां, हम एक ऐसा मंच प्रदान कर रहे हैं, जो ग्रामीण लोगों को अपने प्रश्नों को सीधे डोमेन अभियोजन से हल करने देगा, एक सत्ताधारी पार्टी के तहत हल किए गए प्रश्नों की संख्या पर नज़र रखेगा, सदस्यों द्वारा लिखे गए लेखों को पढ़ सकता है और अन्य अलग चीजें।</h3>
    </div>
</div>
</div>
<div class="offer m-auto text-center">
    <h1 class="header-text w-50 m-auto">What We Offer</h1>
    <div class="row">
        <div class="col-3">
            <h3>Register Complaints</h3>
            <p>Our portal helps rural people to file a complaint under the specified domain section.</p>
            <p>हमारा पोर्टल ग्रामीण लोगों को निर्दिष्ट डोमेन सेक्शन के तहत शिकायत दर्ज करने में मदद करता है।</p>
        </div>
        <div class="col-3">
            <h3>Government Schemes</h3>
            <p>We have created a track to provide the rural people with knowledge of Government Schemes.</p>
            <p>हमने ग्रामीण लोगों को सरकारी योजनाओं का ज्ञान प्रदान करने के लिए एक ट्रैक बनाया है।</p>
        </div>
        <div class="col-3">
            <h3>Solved Complaints</h3>
            <p> A different section for the complaints that have been solved under domain professionals.</p>
            <p>डोमेन पेशेवरों के तहत हल की गई शिकायतों के लिए एक अलग अनुभाग।</p>
        </div>
        <div class="col-3">
            <h3>Get Help Directly</h3>
            <p>Get direct help from professionals undertaking the specified domains.</p>
            <p>निर्दिष्ट डोमेन का काम करने वाले पेशेवरों की मदद लें।</p>
        </div>
    </div>
</div>
{% endblock %}
