{% include 'block.html' %} {% block subcontent %}
<style>
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    html {
        background-color: #f0f0f0;
    }
    
    body {
        color: #999999;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        padding: 1rem;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -moz-font-feature-settings: "liga" on;
    }
    
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    
    .btn {
        background-color: white;
        border: 1px solid #cccccc;
        color: #696969;
        padding: 0.5rem;
        text-transform: lowercase;
    }
    
    .btn--block {
        display: block;
        width: 100%;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .cards__item {
        display: flex;
        padding: 1rem;
    }
    
    @media (min-width: 40rem) {
        .cards__item {
            width: 50%;
        }
    }
    
    @media (min-width: 56rem) {
        .cards__item {
            width: 33.3333%;
        }
    }
    
    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .card:hover .card__image {
        filter: contrast(100%);
    }
    
    .card__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }
    
    .card__image {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        filter: contrast(70%);
        overflow: hidden;
        position: relative;
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    }
    
    .card__image::before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }
    
    @media (min-width: 40rem) {
        .card__image::before {
            padding-top: 66.6%;
        }
    }
    
    .card__image--farmer {
        background-image: url("{{url_for('static', filename='farming1.jpg')}}");
    }
    
    .card__image--bank {
        background-image: url("{{url_for('static', filename='bank.png')}}");
    }
    
    .card__image--health {
        background-image: url("{{url_for('static', filename='hospital.png')}}");
    }
    
    .card__image--govt {
        background-image: url("{{url_for('static', filename='gov.png')}}");
    }
    
    .card__image--munci {
        background-image: url("{{url_for('static', filename='munci.png')}}");
    }
    
    .card__image--misc {
        background-image: url("{{url_for('static', filename='misc.png')}}");
    }
    
    .card__title {
        color: #696969;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    . {
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
    }
</style>

<ul class="cards">
    <li class="cards__item">
        <div class="card w-100">
            <a href="/domain/farming/">
                <div class="card__image card__image--farmer"></div>
                <div class="card__content">
                    <div class="card__title">Farming</div>
                    <h1 class=" text-align-center">खेती</h1>
                    <!-- <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis magni hic ex totam ullam, qui dolorem eum nam autem labore nostrum, numquam porro, modi accusantium voluptatum. Mollitia ullam praesentium ad.</h5> -->

                </div>
            </a>
        </div>
    </li>
    <li class="cards__item">
        <div class="card w-100">
            <a href="/domain/bank/">
                <div class="card__image card__image--bank"></div>
                <div class="card__content">
                    <div class="card__title">Bank & Finance</div>
                    <h1 class="">बैंक और वित्त</h1>
                    <!-- <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, eos iusto, odio maiores quo delectus error dolor ducimus qui explicabo impedit ut asperiores nostrum! Quod saepe placeat nihil tempore architecto?</h5> -->

                </div>
            </a>
        </div>
    </li>
    <li class="cards__item">
        <div class="card w-100">
            <a href="/domain/health/">
                <div class="card__image card__image--health"></div>
                <div class="card__content">
                    <div class="card__title">Health & Medicinal</div>
                    <h1 class="">सरकारी योजनाएं</h1>
                    <!-- <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur suscipit illo eum ducimus fuga inventore fugit temporibus, cum neque deserunt iste sint quas? Molestias odit facere quo ullam blanditiis unde.</h5> -->

                </div>
            </a>
        </div>
    </li>
    <li class="cards__item">
        <div class="card w-100">
            <a href="/domain/governmentschemes/">
                <div class="card__image card__image--govt"></div>
                <div class="card__content">
                    <div class="card__title">Government Schemes</div>
                    <h1 class="">सरकारी योजनाएं</h1>
                    <!-- <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur suscipit illo eum ducimus fuga inventore fugit temporibus, cum neque deserunt iste sint quas? Molestias odit facere quo ullam blanditiis unde.</h5> -->

                </div>
            </a>
        </div>
    </li>
    <li class="cards__item">
        <div class="card w-100">
            <a href="/domain/municipality/">
                <div class="card__image card__image--munci"></div>
                <div class="card__content">
                    <div class="card__title">Municipality</div>
                    <h1 class="">नगर पालिका</h1>
                    <!-- <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur suscipit illo eum ducimus fuga inventore fugit temporibus, cum neque deserunt iste sint quas? Molestias odit facere quo ullam blanditiis unde.</h5> -->

                </div>
            </a>
        </div>
    </li>
    <li class="cards__item">
        <div class="card w-100">
            <a href="/domain/miscellaneous">
                <div class="card__image card__image--misc"></div>
                <div class="card__content">
                    <div class="card__title">Miscellaneous</div>
                    <h1 class="">अन्य</h1>
                    <!-- <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, beatae laudantium porro repellendus magnam tempore dolorum, quis tenetur eveniet cumque autem at consequatur nesciunt delectus exercitationem vel est, maiores asperiores!</h5> -->
                </div>
            </a>
        </div>
    </li>
</ul>
{% endblock %}