{% include 'block.html' %} {% block subcontent %}
<style>
    article {
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid #ccc;
    }
    
    .social a {
        padding: 0 .5em;
    }
    
    .page-header {
        margin-bottom: 2rem;
    }
    
    .text {
        margin-left: 150px;
    }
    
    @media screen and (max-width: 728px) {
        .row {
            margin: auto;
        }
    }
    
    .col-md-8:hover {
        background-color: #d8d8d8;
    }
</style>
</head>

<body>

    <div class="container">
        <center>
            <div class="page-header">
                <h1 class="text-capitalize">Issues : {{domain}} <small>/
 समस्याएँ : डोमेन</small></h1>
            </div>
        </center>

        <div class="row text">
            {% for issue in issues %}
            <div class="col-md-8">
                <article id="">
                    <header>
                        <div class="meta">
                            Written by <span class="author">{{issue[5]}}</span> <span class="date">1/30/16</span>
                        </div>
                        <h2>
                            <a href="">
            Issues title</a></h2>
                    </header>
                    <div class="entry-content">

                        <p class="lead">{{issue[2]}}</p>

                        <a href="#" class="btn btn-primary">Read More <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </div>
                    <footer>
                    </footer>
                </article>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
{% endblock %}