<!DOCTYPE html>

<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <style>
        .fa {
            font-size: 40px;
            cursor: pointer;
            user-select: none;
        }
        
        .fa:hover {
            color: darkblue;
        }
        
        .form-outer {
            margin: 10px;
            padding: 0 10px 10px 10px;
        }
        
        .panel {
            width: 100%!important;
        }
    </style>

</head>

<body>

    <div class="form-outer">
        <h2 class="text-center text-capitalize">{{project[1]}}</h2>
        <!--title-->

        <h3>{{project[2]}}</h3>
        <!--Description -->

        <hr>
        <!-- Date&Time-->
        <div>
            <i><h4 class="text-dark"> Owner: <a href="/profile/{{user[1]}}/">{{user[0]}}</a></h4> <!-- porject holder--></i>
            <h4>Date: {{user[2]}}</h4>
            <!-- Batch-->
        </div>


        <hr> {% if session['logged_in'] == True %}

        <a class="btn btn-success btn-rounded btn-lg" href="/login/">Solved</a> {% endif %}




        <!-- Comment box code start-->


        <div class="container">
            <div class="row">
                <div class="panel panel-default widget">

                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                            Recent Comments</h3>

                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <h1 class="text-capitalize"><b>{{comment[0]}}</b></h1>
                                            <div class="mic-info">
                                                By: <a class="text-capitalize" href="/profile/{{commentors[loop.index0][1]}}/">{{commentors[loop.index0][0]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <form action="comment/" method="POST">
                            {% if session["logged_in"] == True %}
                            <textarea class="panel" placeholder="Type Your Comment" name="content" id="content"></textarea>
                            <input type="submit" class="btn btn-primary" value="Post"> {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Comment box code end-->

        </hr>

    </div>

</body>

</html>