{% include 'block.html' %} {% block subcontent %}
<style>
    .fa {
        font-size: 40px;
        cursor: pointer;
        user-select: none;
    }
    
    .fa:hover {
        color: darkblue;
    }
    
    .form-outer {
        margin: 10px;
        padding: 0 10px 10px 10px;
    }
    
    .panel {
        width: 100%!important;
    }
</style>

</head>

<body>

    <div class="form-outer">
        <h2 class="text-center text-capitalize">{{issue[-1]}}</h2>
        <!--title-->

        <h3>{{issue[2]}}</h3>
        <!--Description -->

        <hr>
        <!-- Date&Time-->
        <div>
            <i><h4 class="text-dark"> Owner: {{issue[-2]}}</a></h4> <!-- porject holder--></i>
            <!-- Batch-->
        </div>
        <hr> {% if session['logged_in'] == True %}

        <a class="btn btn-success btn-rounded btn-lg" href="/issues/{{issue[0]}}/solved/">Mark as Solved</a> {% endif %}




        <!-- Comment box code start-->
        <!-- 

        <div class="container">
            <div class="row">
                <div class="panel panel-default widget">

                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                            Recent Suggestions</h3>

                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <h1 class="text-capitalize"><b>{{comment[0]}}</b></h1>
                                            <div class="mic-info">
                                                By: <a class="text-capitalize" href="/profile/{{commentors[loop.index0][1]}}/">{{commentors[loop.index0][0]}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <form action="comment/" method="POST">
                            {% if session["logged_in"] == True %}
                            <textarea class="panel" placeholder="Type Your Comment" name="content" id="content"></textarea>
                            <input type="submit" class="btn btn-primary" value="Post"> {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Comment box code end-->
        </hr>
    </div>
</body>
{% endblock %}